
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Se agrego correctamente la materia</h2>

<p>@ViewBag.Message</p>

<a href="@Url.Action("Index","Materia")" class=" btn btn-primary">Regresar</a>

